*{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-size: 38px;
}

.container{
    margin: 20px;
    border: 1px solid salmon;
    padding: 0 40px;
    color:white;
}