*{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-size: 38px;
}

.container{
    margin: 20px;
    border: 1px solid salmon;
    padding: 0 40px;
    color:white;
}
.cabecera{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 4px;
    box-shadow: 4px;
}
h2 {
    background-color:goldenrod;
    border-radius: 1px;
    width: 90%;
    margin: 0 0 0 1em;
    text-align: center;
    padding-left: 5%;
}